<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Bookify</title>
</head>
<body>

<p>Dear {{ .FullName }},</p>

<p>Welcome to Bookify! We are excited to have you on board. As a valued member of our team,
    your contributions will be essential to our mission, and we look forward to working with you.</p>

<p><strong>Here are some details to help you get started:</strong></p>
<ul>
    <li><strong>Job Title:</strong> {{ .JobTitle }}</li>
    <li><strong>Email:</strong> {{ .Email }}</li>
    <li><strong>Organization:</strong> {{ .OrganizationName }}</li>
</ul>

<p>If you have any questions or need assistance, feel free to reach out.</p>

<p>Once again, welcome to Bookify! We’re happy to have you with us.</p>

<p>Best regards,</p>
<p><strong>The Bookify Team</strong></p>

</body>
</html>
